<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>786167565495-3q37tioa3rbjqfj71u5nkc8q8a4mkp43.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.786167565495-3q37tioa3rbjqfj71u5nkc8q8a4mkp43</string>
	<key>API_KEY</key>
	<string>AIzaSyCkifpADkX3oRqyz6c-PzF3eIMGzx2qSdQ</string>
	<key>GCM_SENDER_ID</key>
	<string>786167565495</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jakobereksen.idontspeakbroke</string>
	<key>PROJECT_ID</key>
	<string>i-dont-speak-broke</string>
	<key>STORAGE_BUCKET</key>
	<string>i-dont-speak-broke.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:786167565495:ios:301df39dae54caaf</string>
	<key>DATABASE_URL</key>
	<string>https://i-dont-speak-broke.firebaseio.com</string>
</dict>
</plist>
